<form id="login-form">
    <h1>Login</h1>
    <input type="email" name="email" placeholder="Please enter your email address">
    <input type="password" name="password" placeholder="Please enter your password">
    <button>Login</button>
    <a href="/singup_form">Sign Up Instead</a>
</form>

<script src="/js/auth.js"></script>